body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background-image: url("assets/img/city-night.jpg");
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
}

h1 {
  color: #ffffffec;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 3.5em;
  text-align: center;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.185);
}

.label {
  width: 10em;
}

#chain {
  margin-top: 100px;
}

.card {
  width: 50%;
}

strong {
  font-size: 1.5em;
  margin-right: 20px;
}

.mindBtn {
  margin-left: auto;
}

.badge {
  font-size: 1em;
}

.mindBtn {
  margin-left: auto;
}
